body {
  background-color: rgb(235, 255, 238, 0.7);

  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;

  color: #353c32;
}
a {
  color: #57ba68;
}
.weather-app {
  background-color: rgba(200, 255, 209, 70%);
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 25%);
  border-radius: 15px;
}
header {
  border-bottom: 1px solid rgb(235, 255, 238, 0.7);
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: rgb(235, 255, 238, 0.7);
  border: none;
  border-radius: 10px;
  width: 75%;
  padding: 20px 25px;
  font-size: 18px;
}
.search-form-button {
  background-color: rgb(235, 255, 238, 0.7);
  padding: 18px 36px;
  border-radius: 10px;

  border-color: #9ac3a1;
  font-size: 18px;
  margin-left: 5px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  line-height: 48px;
  font-size: 38px;
}
.weather-app-details {
  font-size: 14px;
  line-height: 20px;
  color: rgb(53, 60, 50, 0.7);
}
.weather-app-details strong {
  color: #57ba68;
  font-weight: bold;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 86px;
  height: 86px;
  margin-top: 5px;
}
.weather-app-temperature {
  font-size: 86px;
  font-weight: bold;

  line-height: 86px;
}
.weather-app-unit {
  font-size: 26px;
  margin-top: 20px;
}
.forecast {
  display: flex;
  justify-content: space-between;
}

.forecast-date {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: rgb(53, 60, 50, 0.7);
  margin-bottom: 10px;
  margin-top: 10px;
}

.forecast-icon {
  text-align: center;
  font-size: 24px;
}

.forecast-temperatures {
  text-align: center;
  color: #57ba68;
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.forecast-temperature {
  padding: 0 5px;
}
footer {
  border-top: 1px solid rgb(235, 255, 238, 0.7);
  padding: 30px 0 0 0;
  text-align: center;
  color: rgb(53, 60, 50, 0.7);
}
